.footer__banner-product{
	margin: 17px 0 0 126px;
} 
.footer__banner-product h1{
	font-family:'work sans bold';
	padding-bottom: 18px;
	font-size: 22px;
	line-height: 28px;
	color: #2B292D;
} 
.footer__banner-product a{
	font-family:'work sans light';
	font-size: 18px;
	line-height: 33px;
	color: rgba(43, 41, 45, 0.6);
	text-decoration: none;
} 