.intro-text{
}
.intro-text .container{
	display: flex;
	flex-direction: column;
}
.intro-text__big{	
	margin-top: 87px;
	width: 555px;
	margin: 87px auto 30px auto;
}
.intro-text__big p{
	font-size: 56px;
	line-height: 56px;
	text-align: center;
	letter-spacing: -0.5px;
	font-family:'work sans bold';
	color: #2B292D;
}